body{
    background-image: url(img/backg0.png);
    background-size: cover;
}

.container{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 300px;
    margin: auto;
    margin-top: 50px;
    background-color: #f0e4e43d;
    padding: 20px;
    border-radius: 10px;
}

#result{
    background-color: #f0e4e448;
    padding: 10px;
    margin-top: 5px;

}

h1{
    margin-bottom: 5px;
    color: #d40606;
}

h2{
    font-size: 12pt;
}

input{
    display: block;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button{
    padding-top: 5px;
    margin-bottom: 5px;
}
